*{
    box-sizing: border-box;
}
body{
    background-image: url("حمد/لفت.jpg");
background-attachment: fixed;
}
header{
    background-color: black;
    text-align: center;
    padding: 30px;
    font-size: 40px;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}
div.xx{
    overflow: hidden;
    background-color: rgb(107, 70, 15);
}
.xx a{
float: left;
display: inline;
padding: 14px 16px;
color: white;
text-decoration: none;
}
.xx a:hover{
    background-color: black;
    color: white;
}
.sss {
   text-align: right; 
   width: 100%;
    height: 700px;
    opacity: 0.9;
    background-color: white;
    box-shadow: 2px 3px 4px 5px;

}
.sss a:hover{
    text-decoration: underline red;
    color: rgb(2, 11, 90);
}
#de{
    font-size: 40px;
color: white;
}
.xxx::after{
    content: "";
    display: table;
clear: both;
}
/*div.ggg a:link{
    text-align: right;
    color: lawngreen;
    font-size: 20px;
text-decoration: none;
}*/
 a:link{
    text-decoration: none;
text-align: right;    

 }
 #b5 {
    text-align: right;
    margin-right: 20px; 
 }
 #b5 a:hover{
     color: lawngreen;
     text-decoration:underline;
 }
 /* img{
    border: dotted;
    border: 2px solid red;
     border-radius: 0px 30px 0px 30px;
     box-shadow: 2px 3px 4px saddlebrown;   
 }*/
footer{
 background-color: brown;
 text-align: center;
 padding:20px;
 margin-top: 20px;
 margin-bottom: -100px;
 font-size: 25px;   
}
#b8{
  margin-right: 200px;
}